In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

pd.set_option('display.max_columns', None)

In [2]:
leads = pd.read_csv("bank_loan_leads/train_loan/train.csv")

In [3]:
leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: float64(7), int64(2), object(13)
memory usage: 11.7+ MB

In [4]:
numerical = leads[['Monthly_Income', 'Existing_EMI', 'Loan_Amount', 'Interest_Rate', 'Loan_Period']]

In [5]:
# sns.displot(data=leads, x="Monthly_Income", hue="Approved", color="GnYlBu")

In [15]:
def cat_summary(data):
    cols = data.columns
    cat_uniques = []
    modes = []

    for col in cols:
        # Get number of uniques 
        cat_uniques.append(data[col].nunique())
        # Get mode 
        modes.append(data[col].mode()[0])

    table = pd.DataFrame({
        "Feature": cols,
        "Uniques": cat_uniques,
        "Mode": modes
    })

    return table
categorical = leads.drop(numerical, axis=1)
cat_summary(categorical)

                                Feature  Uniques             Mode
0                                    ID    69713  APPA10000905029
1                                Gender        2             Male
2                                   DOB    10759         11/01/82
3                    Lead_Creation_Date       92         02/09/16
4                             City_Code      678           C10001
5                         City_Category        3                A
6                         Employer_Code    36617       COM0000002
7                    Employer_Category1        3                A
8                    Employer_Category2        4              4.0
9   Customer_Existing_Primary_Bank_Code       57             B001
10                    Primary_Bank_Type        2                P
11                            Contacted        2                Y
12                               Source       29             S122
13                      Source_Category        7                B
14                                  EMI     2179            372.0
15                                 Var1        5                0
16                             Approved        2                0

In [9]:
leads.columns

Index(['ID', 'Gender', 'DOB', 'Lead_Creation_Date', 'City_Code',
       'City_Category', 'Employer_Code', 'Employer_Category1',
       'Employer_Category2', 'Monthly_Income',
       'Customer_Existing_Primary_Bank_Code', 'Primary_Bank_Type', 'Contacted',
       'Source', 'Source_Category', 'Existing_EMI', 'Loan_Amount',
       'Loan_Period', 'Interest_Rate', 'EMI', 'Var1', 'Approved'],
      dtype='object')

In [10]:
leads['Monthly_Income'].nunique()

5010

In [18]:
leads.isnull().sum().sum()

183102